[includeIf "gitdir:~/ghq/github.com/"]
  path = ~/.gitconfig-primary
[includeIf "gitdir:~/dotfiles/"]
  path = ~/.gitconfig-primary
[includeIf "gitdir:~/ghq/<enterprise-url>/"]
  path = ~/.gitconfig-enterprise

[alias]
  conflicts = !git ls-files -u | cuf -f 2 | sort -ust
  st = status
  ch = checkout
  br = branch
