[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/kiyocy24/prezto.git
        ignore = dirty
[submodule "nvim"]
	path = nvim
	url = git@github.com:kiyocy24/nvim.git
        ignore = dirty
