[submodule ".zprezto"]
	path = .zprezto
	url = git@github.com:sorin-ionescu/prezto.git
        ignore = dirty
[submodule "nvim"]
	path = nvim
	url = git@github.com:kiyocy24/nvim.git
        ignore = dirty
