[includeIf "gitdir:~/ghq/github.com/"]
  path = ~/.gitconfig-kiyocy
[includeIf "gitdir:~/dotfiles/"]
  path = ~/.gitconfig-kiyocy
[includeIf "gitdir:~/ghq/<enterprise-url>/"]
  path = ~/.gitconfig-enterprise

